/*order_detail*/
#head {
    width: fit-content;
    height: 8%;
    margin: 1%;
    padding: 1% 2%;
    background: #fff;
}
#content {
    width: 100%;
    height: auto;
    padding: 1%;
    background: #f3f3f3;
    display: block;
    float: left;
}
#client-info {
    width: 100%;
    display: flex;
    float: left;
}
.block-info {
    width: 100%;
    height: auto;
    margin-right: 1%;
    padding: 1% 2% 2% 2%;
    text-align: left;
    background: #fff;
    display: block;
    border: solid 1px #bbb;
}
#block-left, #block-right{
    width: 50%;
    padding-right: 5%;
    display: inline-block;
    float: left;
}
.info-item {
    height: 40px;
    display: block;
    border-bottom: solid 1px #bbb;
}
.item-label{
    font-weight: 700;
    font-size: 1rem;
    line-height: 3rem;
    align-self: center;
    position: absolute;
}
.block-heading {
    text-align: left;
    margin: 2% 0;
}
.item-content {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 8%;
    line-height: 3rem;
    align-self: center;
    position: absolute;
}
.item-content2 {
    margin-left: 15%;
}
#order-info {
    width: 99%;
    margin-right: 1%;
    padding: 1% 2%;
    background: #fff;
    border: solid 1px #bbb;
    display: block;
    float: left;
    text-align: left;
}
.delivery-menu {
    width: 100%;
    margin: 2%;
    height: auto;
    display: block;
    float: left;
}
.delivery-item {
    width: 20%;
    display: flex;
    float: left;
    margin-left: 5%;
}
.delivery-checkbox {
    width: 20px;
    height: 20px;
}
.delivery-label {
    margin-left: 5%;
    font-size: 1.2rem;
}
.hidden {
  display: none;
}
input[type="checkbox"]:checked + label {
  color: green;
}

.form-button {
    width: 10%;
    height: 5%;
    left: 80%;
    padding: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #1dbfaf;
    cursor: pointer;
}
#button-update {
    height: 2%;
    margin: 1%;
    margin-left: auto;
}
#button-update:hover{
    background-color: #1ac7b6;
}

.radio-item {
    margin-left: 5%;
}
.info-item2 {
    width: 35%;
    margin-right: 2%;
    height: 40px;
    display: block;
    float: left;
    border-bottom: solid 1px #bbb;
}
#product-info {
    width: 99%;
    height: auto;
    margin-right: 1%;
    padding: 1% 2%;
    background: #fff;
    border: solid 1px #bbb;
    display: block;
    float: left;
    text-align: left;
}
#table-product{
    width: 100%;
    table-layout: fixed;
    background: #fff;
}
table#table-product td {
    padding: 0.6%;
    height: 30px;
    font-size: 0.9rem;
    word-wrap: break-word;
}
#table-product thead {
    position: sticky;
    top: 0;
    height: 30px;
    word-wrap: break-word;
    z-index: 1;
    background:#d3d3d3;
}
#table-product tbody tr:hover{
    background: #f3f3f3;
}
#product-row {
    height: 50px;
}
#order-total {
    font-weight: 700;
}
#payment-info {
    width: 99%;
    margin-right: 1%;
    padding: 1% 2%;
    background: #fff;
    border: solid 1px #bbb;
    display: block;
    float: left;
    text-align: left;
}
#other-info {
    width: 99%;
    margin-right: 1%;
    padding: 1% 2%;
    background: #fff;
    border: solid 1px #bbb;
    display: block;
    float: left;
    text-align: left;
}
.heading2 {
    text-align: left;
    margin: 1% 0;
}