* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    line-height: 35px;
}
.dropdown-menu {
    display: none;
}
#left-panel {
    position: fixed;
    top: 60px;
    width: 13%;
    min-width: 120px;
    height: 100%;
    background: #1b1e24;
    display: block;
    float: left;
    z-index: 2;
}
.right-panel {
    position: absolute;
    top: 60px;
    left: 13%;
    width: 87%;
    min-width: 1000px;
    height: auto;
    padding: 1%;
    background: #f3f3f3;
    display: block;
    float: left;
}
#top {
    width: 100%;
    background: #fff;
    display: flex;
}
#head {
    margin: 1%;
}
nav{
    position: relative;
    height: 100%;
}
nav > ul > li {
    color: #8b91a0;
    padding: 5px 0;
    line-height: 40px;
    font-weight: 500;
}
nav ul li ul{
    padding: 10px 0;
    background: #22262E;
}
nav ul li ul li{
    width: 100%;
    line-height: 15px;
    padding: 8px 0;
}
.menu-item-parent{
    padding-left: 15px;
}
nav ul li ul li a {
    width: 80%;
    color: #8b91a0;
    padding: 5px 5px 5px 35px;
    line-height: normal;
    font-weight: 500;
    font-size: 0.8rem;
}
ul ul{
    display: none;
}
a:hover, li:hover{
    color: #fff;
    background: #1b1e24;
}
/*a:hover{
    background: #333333;
}*/
#tongquan {
    color: #8b91a0;
}
#tongquan:hover {
    color: #fff;
}
nav ul li a:hover i {
    color: #fff;
}
nav ul li a i {
    color: #8b91a0;
    font-size:50px;
    margin-right: 10px;
}

/**/


.main-block{
    width: 100%;
    height: auto;
    margin: 1% 0;
    text-align: center;
    align-self: baseline;
    border-radius: 5px;
}
#block-table{
    max-height: 630px;
    z-index: 1;
}
.table-head{
    float:left;
    width: 100%;
    height: 30px;
    margin-right: 30px;
    align-self: baseline;
}
.main-table{
    float:left;
    width: 100%;
    height: auto;
    margin-top: 0.6%;
    align-self: baseline;
    overflow-x:auto;
    overflow-y:auto;
}
.border-table td {
    padding: 0.6%;
    word-wrap: break-word;
    border-bottom: solid 1px #bbb;
    border-right: solid 1px #bbb;
}

.box {
    width: 100%;
    height: auto;
    max-height: 570px;
    min-width: 900px;
    border: solid 1px #bbb;
    border-top: solid 1px #000;
    overflow-x: auto;
    overflow-y: auto;
}
.border-table {
    width: 100%;
    table-layout: fixed;
    background: #fff;
}
.border-table thead {
    position: sticky;
    top: 0;
    word-wrap: break-word;
    border: solid 1px #000;
    z-index: 1;
    background:#d3d3d3;
}
.border-table thead tr{
    border: solid 1px #000;
}
.border-table thead th {
    padding: 0.4% 0.1%;
    word-wrap: break-word;
    font-size: 1rem;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    text-align: center;
    cursor: pointer;
}
.border-table tbody tr:hover {
    background: #d9edf7;
}
tbody td{
    font-size: 0.8rem;
}

th.asc::after {
    content: '\25b2';
    float: right;
}

th.desc::after {
    content: '\25bc';
    float: right;
}
.border-table tr:nth-child(even) {
    background: #f3f3f3;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    margin-right: 2%;
    text-align: right;
}
#idleft {
    border-left: solid 1px #000;
}
.col0{
    width: 4%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col1{
    width: 6%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col2{
    width: 8%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col3{
    width: 11%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col4{
    width: 13%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col5{
    width: 6%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col6{
    width: 4%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col7{
    width: 6%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col1:hover,.col2:hover,.col3:hover,.col4:hover,.col5:hover{
    white-space: pre-line;
    overflow: visible;
}
.hidden {
    display: none;
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998; /* Đảm bảo lớp CSS này nằm dưới lớp CSS của popup */
  background-color: rgba(0,0,0,0.5);
}
.popup {
    position: fixed;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}
#block-button {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    float: left;
}
.popup button {
    margin: 10px 20px;
    border: none;
    border-radius: 6px;
    padding: 10px;
/*    background-color: #1dbfaf;*/
}
.popup p {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.cancel-button {
    background-color: #ff3a3a;
}
.continue-button {
    margin-left: auto;
    background-color: #1dbfaf;
}