USE [master]
GO
/****** Object:  Database [The_Gioi_Phu_Kien_Nhom_11]    Script Date: 6/15/2023 8:44:43 AM ******/
CREATE DATABASE [The_Gioi_Phu_Kien_Nhom_11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'The_Gioi_Phu_Kien_Nhom_11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CSDLPT\MSSQL\DATA\The_Gioi_Phu_Kien_Nhom_11.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'The_Gioi_Phu_Kien_Nhom_11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CSDLPT\MSSQL\DATA\The_Gioi_Phu_Kien_Nhom_11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [The_Gioi_Phu_Kien_Nhom_11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [The_Gioi_Phu_Kien_Nhom_11]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 6/15/2023 8:44:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent] [int] NULL,
	[name] [nvarchar](max) NULL,
	[parent_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 6/15/2023 8:44:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/15/2023 8:44:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime] NULL,
	[user_id] [int] NULL,
	[cost] [int] NULL,
	[discount] [int] NULL,
	[fee] [int] NULL,
	[total] [int] NULL,
	[payment] [nvarchar](100) NULL,
	[delivery] [nvarchar](100) NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK__Orders__3213E83F660774CC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/15/2023 8:44:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[image1] [nvarchar](max) NULL,
	[image2] [nvarchar](max) NULL,
	[des] [nvarchar](max) NULL,
	[price] [int] NULL,
	[quantity_sold] [int] NULL,
	[quantity_remain] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/15/2023 8:44:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[is_admin] [int] NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([id], [parent], [name], [parent_name]) VALUES (1, 1, N'Ốp lưng-Bao da', N'Phụ kiện điện thoại')
INSERT [dbo].[Categorys] ([id], [parent], [name], [parent_name]) VALUES (2, 1, N'Dán màn hình', N'Phụ kiện điện thoại')
INSERT [dbo].[Categorys] ([id], [parent], [name], [parent_name]) VALUES (3, 1, N'Kính cường lực', N'Phụ kiện điện thoại')
SET IDENTITY_INSERT [dbo].[Categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([id], [order_id], [product_id], [quantity], [price]) VALUES (1, 1, 2, 5, 135000)
INSERT [dbo].[OrderItems] ([id], [order_id], [product_id], [quantity], [price]) VALUES (2, 2, 1, 3, 35000)
INSERT [dbo].[OrderItems] ([id], [order_id], [product_id], [quantity], [price]) VALUES (3, 2, 3, 1, 340000)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [create_date], [user_id], [cost], [discount], [fee], [total], [payment], [delivery], [note]) VALUES (1, CAST(N'2023-04-08T00:00:00.000' AS DateTime), 1, 675000, 15000, 30000, 690000, N'Đã thanh toán', N'Đang giao hàng', NULL)
INSERT [dbo].[Orders] ([id], [create_date], [user_id], [cost], [discount], [fee], [total], [payment], [delivery], [note]) VALUES (2, CAST(N'2023-04-08T00:00:00.000' AS DateTime), 3, 445000, 0, 30000, 475000, N'Đã thanh toán', N'Đang giao hàng', NULL)
INSERT [dbo].[Orders] ([id], [create_date], [user_id], [cost], [discount], [fee], [total], [payment], [delivery], [note]) VALUES (3, CAST(N'2023-06-08T00:00:00.000' AS DateTime), 3, 270000, 0, 30000, 300000, N'Đã thanh toán', N'Đang giao hàng', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [title], [category_id], [image1], [image2], [des], [price], [quantity_sold], [quantity_remain]) VALUES (1, N'Ốp lưng IP11', N'Ốp lưng IP11 3MS 2023', 1, N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/m/p/mpu73_av2_1.jpg', N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/m/p/mpu73_1.jpg', N'Ốp lưng Iphone 11 trong suốt cực bền', 35000, 12, 188)
INSERT [dbo].[Products] ([id], [name], [title], [category_id], [image1], [image2], [des], [price], [quantity_sold], [quantity_remain]) VALUES (2, N'Tai nghe BTWS6', N'Tai nghe BTWS6 chống nước 100%', 19, N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/t/a/tai-nghe-khong-day-soul-s-live-30-9_1.png', N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/t/a/tai-nghe-khong-day-soul-s-live-30-2.png', N'Tai nghe Bluetooth Xiaomi BTWS6 chính hãng', 135000, 7, 93)
INSERT [dbo].[Products] ([id], [name], [title], [category_id], [image1], [image2], [des], [price], [quantity_sold], [quantity_remain]) VALUES (3, N'Chuột không dây Logitech M331', N'Chuột không dây Logitech M331 siêu đẹp', 9, N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/c/h/chuot-khong-day-logitech-signature-m650-1.jpg', N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/f/r/frame_1_3__3.png', N'Chuột Logitech M331 – Thiết kế siêu nhỏ gọn, độ phân giải cảm biến 1000 DPI', 340000, 8, 42)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [fullname], [dob], [phone], [email], [password], [address], [is_admin], [note]) VALUES (1, N'Hà Văn Thiệp', CAST(N'2002-08-23' AS Date), N'0865873283', N'havanthiep2308@gmail.com', N'“Ð—+Uå„ŒÍè±²¨°™', N'Nam Định', 1, NULL)
INSERT [dbo].[Users] ([id], [fullname], [dob], [phone], [email], [password], [address], [is_admin], [note]) VALUES (2, N'Nguyễn Minh Phú', CAST(N'2002-01-01' AS Date), N'0987654321', N'nguyenminhphu@gmail.com', N'Nmpmk12@', N'Hà Nội', 0, NULL)
INSERT [dbo].[Users] ([id], [fullname], [dob], [phone], [email], [password], [address], [is_admin], [note]) VALUES (3, N'Trần Ngọc Linh', CAST(N'2002-02-02' AS Date), N'0123456789', N'tranngoclinh@gmail.com', N'Tnlmk12@', N'Bắc Ninh', 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
